body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
html{
  font-size: 62.5%;
}
input{
  font-size: 1.5rem;
  height:65%;
  border-radius: 1.5rem;
  padding:0.5rem;
  border: 1px solid grey;
}
.container{
  display: flex;
  flex-direction: column;
  gap:2rem;
}
.search{
  display: flex;
  gap:1rem;
  height: 5vh;
  align-items: center;
}
.result{
  display: flex;
  gap:4rem;
}
.list{
  display: flex;
  flex-direction: column;
  min-width:35vw;
  gap:2rem;
  background-color: aliceblue;
  border-radius: 2rem;
  padding:1rem 2rem;
}
.homebtn,.searchbtn{
  font-size: 1.5rem;
  border-radius: 1.5rem;
  background-color: aliceblue;
  height:80%;
  border: 1px solid grey;
 
}
.movie_list{
  display: flex;
  flex-direction: column;
  gap:2rem;
}
.detail{
  display: flex;
  gap:1rem;
  justify-content: space-between;
  max-width: 45vw;
}
.img{
  width:15rem;
  height:15rem;
}